
# Database Configuration

DB_HOST=localhost
DB_PORT=3306
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=duodate



# Security

SECRET_KEY=your_super_secret_key



# EmailJS Configuration

EMAILJS_SERVICE_ID=your_emailjs_service_id
EMAILJS_TEMPLATE_ID=your_emailjs_template_id
EMAILJS_PUBLIC_KEY=your_emailjs_public_key
EMAILJS_PRIVATE_KEY=your_emailjs_private_key



# SMTP (Email Service)

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_email_app_password
MAIL_FROM=your_email@gmail.com



# Firebase Configuration

FIREBASE_CREDENTIALS=firebase/firebase-admin.json
